<form action="/create-thread" method="POST" enctype="multipart/form-data">
    <label>Title</label>
    <input name='threadTitle' type="text">
    <label>Picture</label>
    <input type="file" name='photo'>
    <input type="submit" value="Upload"> 
    
    {{#if message}}
        <h5>{{message}}</h5>
    {{/if}}
</form>