<form action="/create-post-link" method="POST">
    <label>Title</label>
    <input type="text" name="title">
    <label>Link</label>
    <input type="text" name="link">
    <label>Thread Title</label>
    <input type="text" name="thread">
    <input type="submit" value="post">
</form>