<form action="/create-post-text" method="POST">
    <label>Title</label>
    <input type="text" name="title">
    <label>Text</label>
    <textarea rows='10' cols="50" name="text"></textarea>
    <label>Thread Title</label>
    <input type="text" name="thread">
    <input type="submit" value="post">
</form>