<form action="/create-post-image" method="POST" enctype="multipart/form-data">
    <label>Title</label>
    <input type="text" name="title">
    <label>Upload Picture</label>
    <input type="file" name="photo">
    <label>Thread Title</label>
    <input type="text" name="thread">
    <input type="submit" value="Upload">
</form>