<nav>
    <img class="logo-nav" src="http://res.cloudinary.com/ddibftjux/image/upload/v1525990468/images/my-file-name.png">

    <div class="links">
      <ul>
        <li>
          {{!--
          <a href="/create-post">Post</a> --}}
          <div class="dropdown">
            <button class="dropbtn">
              <a href="#">Post</a>
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/create-post-image">Picture</a>
              <a href="/create-post-text">Text</a>
              <a href="/create-post-link">Link</a>
            </div>
          </div>
        </li>
        <li>
          <a href="/profile">Profile</a>
        </li>
        <li>
          <a href="/create-thread">Thread</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="all-index">
    <div class="threads-post">
        {{#each threads}}
        <div>
            <a class="single-thread" data-id="{{this._id}}" href="javascript:">
                <div>
                    <img src={{this.picturePath}} class="thread-pics">
                </div>
                <div>
                    <h1>{{this.title}}</h1>
                    <h4>{{this.moderator.username}}</h4>
                </div>
            </a>
        </div>
        {{/each}}
    </div>

    <div class="posts">

    </div>

</div>