<nav>
  <div class="container-fluid">
    <div class="row align-items-end">
      <div class="col-4">
        <img class="logo-nav" src="http://res.cloudinary.com/ddibftjux/image/upload/v1525990468/images/my-file-name.png">
      </div>

      <div class="col-2">
        <a href="/profile">Profile</a>
      </div>

      <div class="col-2">
        <a href="/create-thread">Thread</a>
      </div>

      <div class="col-2">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Post
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

            <a class="dropdown-item" data-toggle="modal" data-target="#imageModal">
              Image
            </a>

            <a class="dropdown-item" data-toggle="modal" data-target="#textModal">
              Text
            </a>

            <a class="dropdown-item" data-toggle="modal" data-target="#linkModal">
              Link
            </a>
          </div>
        </div>
      </div>

      <div class="col-2">
        <a href="/logout">Logout</a>
      </div>

    </div>
  </div>
</nav>


<div class="container threads-post">
  <div class="row">
    <div class="col-md-4 sel">
      {{#each threads}}
      <a class="single-thread row align-items-center" data-id="{{this._id}}" href="javascript:">
        <div class="col-6">
          <img src={{this.picturePath}} class="thread-pics">
        </div>
        <div class="col-md-4">
          <h1 class="thread-name">{{this.title}}</h1>
          <h4>{{this.moderator.username}}</h4>
        </div>
      </a>
      {{/each}}
    </div>
    <div class="col-md-5 offset-md-3 posts">
    </div>
  </div>
</div>


<!-- Post Text Modal -->
<div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Post Text</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/create-post-text" method="POST">
          <div id="contact-form" class="form-group" data-form-container>
            <div class="input-container">
              <div class="row">
                <span class="check-text" data-toggle="tooltip" data-placement="top" title="Input Your First and Last Name."> </span>
                <input type="text" name="title" class="form-control" placeholder="Title">
              </div>
              <br>
              <div class="row">
                <span class="check-text" data-toggle="tooltip" data-placement="top" title="Please Include a Message."> </span>
                <textarea type="textarea" name="text" class="form-control" placeholder="Message"></textarea>
              </div>
              <br>
              <div class="row">
                <span class="check-text" data-toggle="tooltip" data-placement="top" title="Please Include a Thread."> </span>
                <input type="text" name="thread" class="form-control" placeholder="Thread Name">
              </div>
              <br>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" value="post" class="btn btn-primary submit-form">Post Text</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Post Image Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Post Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/create-post-image" method="POST" enctype="multipart/form-data">
          <div class="form-group" data-form-container>
            <div class="input-container">
              <div class="row">
                <span class="check-text" data-toggle="tooltip" data-placement="top" title="Input Your First and Last Name."> </span>
                <input type="text" name="title" class="form-control" placeholder="Title">
              </div>
              <br>
              <div class="row">
                <span class="check-text" data-toggle="tooltip" data-placement="top" title="Please Include a Picture."> </span>
                <input type="file" name="photo" class="form-control">
              </div>
              <br>
              <div class="row">
                <span class="check-text" data-toggle="tooltip" data-placement="top" title="Please Include a Thread."> </span>
                <input type="text" name="thread" class="form-control" placeholder="Thread Name">
              </div>
              <br>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" value="Upload" class="btn btn-primary submit-form">Post Image</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Post Link Modal -->
<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Post Link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/create-post-link" method="POST">
          <div class="form-group" data-form-container>
            <div class="input-container">
              <div class="row">
                <span class="check-text" data-toggle="tooltip" data-placement="top" title="Input Your First and Last Name."> </span>
                <input type="text" name="title" class="form-control" placeholder="Title">
              </div>
              <br>
              <div class="row">
                <span class="check-text" data-toggle="tooltip" data-placement="top" title="Please Include a Link."> </span>
                <input type="text" name="link" class="form-control" placeholder="Link">
              </div>
              <br>
              <div class="row">
                <span class="check-text" data-toggle="tooltip" data-placement="top" title="Please Include a Thread."> </span>
                <input type="text" name="thread" class="form-control" placeholder="Thread Name">
              </div>
              <br>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" value="post" class="btn btn-primary submit-form">Post Image</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>