@import url('https://fonts.googleapis.com/css?family=Lato');
* {
  padding: 0px;
  margin: 0px;
  color: #565252;
}

body {
  background-color: #E5F2F4!important;
  text-decoration: none;
}

nav {
  background-color: #1CACE7;
}

nav a {
  color: white;
  text-decoration: none !important;
  font-size: 1.8rem;
}

nav img {
  width: 150px;
  height: 150px;
  position: relative;
  top: 42px;
  left: 50px;
}

#dropdownMenu2 {
  background-color: transparent;
  border: 0px;
  font-size: 1.8rem;
}

.dropdown-item {
  font-size: 1.5rem;
}

.threads-post {
  padding-top: 100px;
}

.single-thread {
  padding-bottom: 40px;
  padding-top: 40px;
  border: #199dd4 2px solid; 
}

.thread-pics {
  width: 120px;
}

.thread-name{
  font-size: 1.5rem;
}

.single-thread:nth-child(odd) {
  background-color: #1CACE7;
}
.single-thread:nth-child(even) {
  background-color: #C1E5F2;
}

// .all-index {
//   display: flex;
//   flex-direction: row;
//   // flex-wrap: wrap;
// }

// .posts {
//   display: flex;
//   flex-direction: column;
//   margin-left: 10%;
//   margin-top: 5%;
// }

.single-post {
  // border: #1ba8e2 solid 1px;
  margin-right: 10%;
  margin-bottom: 30px;
}

.top {
  align-items: center;
  background: #1CACE7;
  border: #1ba8e2 solid 1px;
}

.header-image {
  width: 90px;
  padding: 10px 0px 10px 0px;
}

.content {
  background-color: #C1E5F2;
  border: #1ba8e2 solid 1px;
  min-height: 100px;
  max-height: 350px;
}

.bottom {
  display: flex;
  justify-content: space-around;
  // align-items: center;
  border: #1ba8e2 solid 1px;
}

// .bottom span {
//   padding-left: 10px; 
// }

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

// .dropdown {
//   float: left;
//   overflow: hidden;
// }

// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #e5f2f4;
//   min-width: 100px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 1;
// }

// .dropdown-content a {
//   color: black;
//   padding: 12px 16px;
//   display: block;
// }

// .dropdown-content a:hover {
//   background-color: #ddd;
// }

// .dropdown:hover .dropdown-content {
//   display: block;
// }

// .profile-header {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   margin-top: 50px;
//   margin-left: 40%;
// }

// .profile-header div {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }


// .prof-user-img {
//   width: 150px;
// }

// .prof-edit-img {
//   width: 30px; 
// }

