@import url('https://fonts.googleapis.com/css?family=Lato');
* {
  padding: 0px;
  margin: 0px;
  color: #565252;
}

body {
  background-color: #E5F2F4!important;
  text-decoration: none;
}

nav {
  background-color: #1CACE7;
}

nav a {
  color: white;
  text-decoration: none !important;
  font-size: 1.8rem;
}

nav img {
  width: 150px;
  height: 150px;
  position: relative;
  top: 42px;
  left: 50px;
}

#dropdownMenu2 {
  background-color: transparent;
  border: 0px;
  font-size: 1.8rem;
}

.dropdown-item {
  font-size: 1.5rem;
}

.threads-post {
  padding-top: 100px;
}

.single-thread {
  padding-bottom: 40px;
  padding-top: 40px;
  border: #199dd4 2px solid; 
}

.thread-pics {
  width: 120px;
}

.thread-name{
  font-size: 1.5rem;
}

.single-thread:nth-child(odd) {
  background-color: #1CACE7;
}
.single-thread:nth-child(even) {
  background-color: #C1E5F2;
}

.single-post {
  // border: #1ba8e2 solid 1px;
  margin-right: 10%;
  margin-bottom: 30px;
}

.top {
  align-items: center;
  background: #1CACE7;
  border: #1ba8e2 solid 1px;
}

.header-image {
  width: 90px;
  padding: 10px 0px 10px 0px;
}

.content {
  background-color: #C1E5F2;
  border: #1ba8e2 solid 1px;
  min-height: 100px;
  max-height: 350px;
}

.bottom {
  display: flex;
  justify-content: space-around;
  border: #1ba8e2 solid 1px;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.prof-user-img {
  width: 15vw;
}

.center-block {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-name {
  margin-top: 2vmax;
  text-align: center;
}

.prof-edit-img {
  width: 5vw;
  margin-top: 13vh;
}

.text {
  font-size: 1.5rem;
  text-align: center;
}

.link {
  font-size: 1.3rem;
  text-align: center;
}

.fa-trash {
  font-size: 60px;
  margin-top: 50%;
}

.profile-link-home{
  font-size: 1.7rem;
  margin-top: 13vh;
}

.comment-image {
  width: 5px;
  height: 10%;
}

.single-comment {
  border-top: #1ba8e2 solid 1px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.submit-comment {
  background-color: #1ba8e2;
  border: #1ba8e2;
  margin: 5px;
  padding: 5px;
  border-radius: 20%;
}

.submit-field {
  // background-color: #C1E5F2;
  margin-left: 5px; 
}

.comment-form {
  margin-top: 10px; 
}
